# Server Configuration
PORT=5000
NODE_ENV=development

# Database Configuration (Local MongoDB Server or MongoDB Atlas)
MONGO_URI=mongodb://127.0.0.1:27017/store_website

# Frontend Client URL for CORS
CLIENT_URL=http://localhost:5173
